.DS_Store

build/*
dist/*
matobapython.egg-info/*

*.idea/
*.so
*.aux
*.log
*.out
*.pdf
*.blg
*.bbl
*.swp
*.bcf
*.run.xml
*.prof

*.pyc
*.pyx
*.dat
*/localenv/*
*/.idea/*

*.png

*/.ipynb_checkpoints/*
localenv/*

